body{
background-image: url('https://media.glassdoor.com/lst2x/9d/e4/fa/74/tcs-office.jpg');
background-repeat: no-repeat;
background-size: cover;
font-weight: 700;
color: white;

}

.maindiv{
    border: 2px solid white;
    margin-top: 40px;
    width: fit-content;
    padding: 5px;
    font-weight: 700;
}
fieldset{
    border: 2px solid white;
    padding: 5px;
}

input.ng-invalid.ng-touched,select.ng-invalid.ng-touched {
    border:2px solid rgb(130, 24, 42);
    box-shadow: 0 0 12px rgba(255,13,45,36);
  }
  input.ng-touched,select.ng-touched {
    border: 2px solid rgb(240, 27, 95);
    box-shadow: 0 0 12px rgb(50,218,16,);

  }

  form label{
    font-size: large;
    background-color: transparent;
  }
form input{
    border: 2px solid white;
    font-size: large;
    background-color: transparent;
}

form select{
  border: 2px solid white;
  font-size: large;
  background-color: transparent;
  margin-left: 20px;
  color: white;
}

option:not(first-child) {
  color: #000;
}
select option{
  margin: 40px;
}
table{
  width: fit-content;
}

h2{
  text-align: center;
}

form{
  display: flex;
  justify-content: center;
  background-color: transparent;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
#passwordHelpInline{
  color: white;
}
