<div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/image-1.webp" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">PS4 Cricket 22 International </h6>
    <p class="card-text ">Rs. &nbsp;3799&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">20% &nbsp;Off</span></p>
    <p class="p1">Bank Offer</p>

  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/image-3.webp" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Dragon Ball Z: Kakarot</h6>
    <p class="card-text">Rs.&nbsp;1799&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">15% &nbsp;Off</span></p>
    <p class="p1">Bank Offer</p>

  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/image-4.webp" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">GOD OF WAR - Ragnarok</h6>
    <p class="card-text">Rs.&nbsp;1479&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">6% &nbsp;Off</span></p>
    <p class="p1">Bank Offer</p>

  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/image-5.webp" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Xbox Game Pass Ultimate</h6>
    <p class="card-text">Rs.&nbsp;2200&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">5% &nbsp;Off</span></p>
    <p class="p1">Bank Offer</p>

  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/game-1.webp" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">98000 Game IN 1 Video Game </h6>
    <p class="card-text">Rs.&nbsp;560&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">13% &nbsp;Off</span></p>
    <p class="p1">Bank Offer</p>

  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/game-2.webp" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Grand Theft Auto V ROCKSTAR</h6>
    <p class="card-text">Rs.&nbsp;1100&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">17% &nbsp;Off</span></p>
    <p class="p1">Bank Offer</p>

  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/image-6.webp" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Marvel's Spider-Man: Miles </h6>
    <p class="card-text">Rs.&nbsp;899&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">33% &nbsp;Off</span></p>
    <p class="p1">Bank Offer</p>

  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/image-7.webp" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Grand Theft Auto V</h6>
    <p class="card-text">Rs.&nbsp;1100&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">20% &nbsp;Off</span></p>
    <p class="p1">Bank Offer</p>
  </div>
</div>
</div>
