
 nav{
  background-color: rgb(211, 191, 191);
  position: fixed;
  top: 0%;
  left: 0;
right: 0;}
 nav ul{
  list-style: none;
  position: relative;
  display: flex;
  text-align: center;

}
 nav ul li{
  padding: 5px;
  font-weight: 900;
  font-size: 20px;
  margin-left: 50px;
  text-align: center;
}

.navlinks{
  display: inline-block;
  text-decoration: none;
color: black;
text-shadow: 2px 2px 5px rgb(233, 91, 152);

}
.navlinks:hover{
  text-transform: capitalize;
  font-style: italic;
  text-decoration: underline;
  color:  rgb(9, 147, 147);

}

