<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header</title>
</head>
<body class="doNotPrint">



<header>

  <ul>
    <li><a routerLink="/home" class="navlinks" >Home</a></li>
    <li><a routerLink="/htmlnotes" routerLinkActive="active" class="navlinks" >HTML Notes</a></li>
    <li><a routerLink="/cssnotes" routerLinkActive="active" class="navlinks" >CSS Notes</a></li>
    <li><a routerLink="/typescriptnotes" routerLinkActive="active" class="navlinks" >TypeScript Notes</a></li>
    <li><a routerLink="/angularnotes" routerLinkActive="active" class="navlinks" >Angular Notes</a></li>
    <li><a style="cursor: pointer;" (click)="onLogout()">LogOut</a></li>

  </ul>

</header>

<!-- <nav *ngIf="isAuthenticated"> -->
  <nav>

  <ul>
    <li><a routerLink="/phone-mask" routerLinkActive="active" >Phone mask</a></li>
    <li><a routerLink="/dir-demo" routerLinkActive="active" >Directive demo</a></li>
    <li><a routerLink="/dir-ng-switch" routerLinkActive="active"  >Directive ngSwitch</a></li>
    <li><a routerLink="/dir-1st-ass" routerLinkActive="active"  >Directive 1st assignment</a></li>
    <li><a routerLink="/dir-2nd-ass" routerLinkActive="active" >Directive 2nd assignment</a></li>
    <li><a routerLink="/db-3rd-ass" routerLinkActive="active"  >Data binding 3rd assignment</a></li>
    <li><a routerLink="/db-4th-ass" routerLinkActive="active"  >Data binding 4th assignment</a></li>


    <li><a routerLink="/decorators" routerLinkActive="active"  >@Input-@output decorator</a></li>

    <li><a routerLink="/hooks-cycle" routerLinkActive="active"  >Hooks life cycle</a></li>

    <li><a routerLink="/tdf-form" routerLinkActive="active" >TDF Form</a></li>
    <li><a routerLink="/tdf-stud-ass" routerLinkActive="active" >Student registration form &nbsp;&nbsp;assignment</a></li>
    <li><a routerLink="/tdf-2nd-ass" routerLinkActive="active"  >TDF-2nd-Assignment</a></li>
    <li><a routerLink="/tdf-3rd-ass" routerLinkActive="active"  >TDF-3rd-Assignment</a></li>
    <li><a routerLink="/tdf-4th-ass" routerLinkActive="active"  >TDF-4th-Assignment</a></li>
    <li><a routerLink="/tdf-5th-ass" routerLinkActive="active"  >TDF-5th-Assignment</a></li>

    <li><a routerLink="/reactive-form" routerLinkActive="active" >Reactive Form</a></li>
    <li><a routerLink="/reactive-1st-ass" routerLinkActive="active" >Reactive-form 1st assignment</a></li>
    <li><a routerLink="/reactive-2nd-ass" routerLinkActive="active" >Reactive-form 2nd assignment</a></li>

    <li><a routerLink="/demo-service-1" routerLinkActive="active" >Service Demo</a></li>
    <li><a routerLink="/demo-service-2" routerLinkActive="active" >Service Demo-2</a></li>

    <li><a routerLink="/subject-demo" routerLinkActive="active" >Subject Demo</a></li>

    <li><a routerLink="/pipe-demo" routerLinkActive="active" >Pipe Demo</a></li>
    <li><a routerLink="/filter-pipe-demo" routerLinkActive="active" >Filter Pipe Demo</a></li>
    <li><a routerLink="/filter-pipe-1st-ass" routerLinkActive="active" >Filter Pipe 1st-assignment</a></li>

    <li><a routerLink="/shop-comp" routerLinkActive="active" >Shopping component</a></li>

    <li><a routerLink="/post-api" routerLinkActive="active" >API post demo</a></li>

    <li><a routerLink="/movie-detail" routerLinkActive="active" >Routing module Demo</a></li>

    <li><a routerLink="/json-api" routerLinkActive="active" >JSON placeholder api's</a></li>
    <li><a routerLink="/rapid-api" routerLinkActive="active" >Rapid API's</a></li>
    <li><a routerLink="/curd-data" routerLinkActive="active" >Curd Operation</a></li>
    <li><a routerLink="/rxjs-operator" routerLinkActive="active" >RXJS Operators</a></li>


  </ul>
</nav>


</body>
</html>
