<!-- Assignments
Create a registration form that contains the following fields.
REQUIREMENTS:
 First Name [Required, Min 5 and max 5 char]
 Last Name [Max 10 char]
 Age [Required, B/W 17-20]
 Email [Required, Validate email]
 Phone [Max 10, Allow only numbers]
 City (Dropdown) Options:['Mumbai','Kolkata','Delhi']
 Gender [Required]
 Password [Required]
 Confirm Password [Required]

Assignments
INSTRUCTIONS:
 . Should validate using angular Form group.
 . Can style using any CSS framework like bootstrap.
 . Focus on completing functionality first.
 . Style using CSS .
-->
