<div>
  <p style="text-align: center;font-size: larger;" ><strong ><em >Girls Clothes</em></strong></p>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/cloth-image-1.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Party wear dress</h6>
    <p class="card-text ">Rs. &nbsp;1200&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">80% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" routerLinkActive="router-link-active"  class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/cloth-image-2.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">party wear fancy dress</h6>
    <p class="card-text">Rs.&nbsp;1799&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">75% &nbsp;Off</span></p>
    <p>COD & online payment available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/cloth-images-3.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Pari frock</h6>
    <p class="card-text">Rs.&nbsp;1400&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">60% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/cloth-images-4.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Functional wear frock</h6>
    <p class="card-text">Rs.&nbsp;1300&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">45% &nbsp;Off</span></p>
    <p class="text-danger">Hurry up only 2 lefts...</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/cloth-image-5.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Jump suite for girls</h6>
    <p class="card-text">Rs.&nbsp;1200&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">53% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/cloth-image-6.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Party wear girls</h6>
    <p class="card-text">Rs.&nbsp;1100&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">70% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/cloth-image-7.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">daily wear dress</h6>
    <p class="card-text">Rs.&nbsp;900&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">33% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/cloth-image-8.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">casual baby dress</h6>
    <p class="card-text">Rs.&nbsp;600&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">20% &nbsp;Off</span></p>
    <p class="text-danger">Hurry up only 2 lefts...</p>

    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
</div>
