<div>
  <p style="text-align: center;font-size: larger;"><strong ><em >Buy Mobile</em></strong></p>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/mob-img-1.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Samsung A04s</h6>
    <p class="card-text ">Rs. &nbsp;13500&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">20% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/mob-img-2.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Never Settle</h6>
    <p class="card-text">Rs.&nbsp;17999&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">15% &nbsp;Off</span></p>
    <p>COD & online payment available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/mob-img-3.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Realme C35</h6>
    <p class="card-text">Rs.&nbsp;14599&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">6% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/mob-img-4.webp" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Redmi Pro</h6>
    <p class="card-text">Rs.&nbsp;22000&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">5% &nbsp;Off</span></p>
    <p class="text-danger">Hurry up only 2 lefts...</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/mob-img-5.webp" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Samsung M13</h6>
    <p class="card-text">Rs.&nbsp;25000&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">13% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/mob-img-4.webp" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Oppo</h6>
    <p class="card-text">Rs.&nbsp;11000&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">17% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/mob-img-3.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Realme C35</h6>
    <p class="card-text">Rs.&nbsp;8999&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">33% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/mob-img-1.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Samsung A03</h6>
    <p class="card-text">Rs.&nbsp;16640&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">20% &nbsp;Off</span></p>
    <p class="text-danger">Hurry up only 2 lefts...</p>

    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
</div>
