.card{
  width: 18rem;
  height: 8%;
  display: inline-block;
  margin: 6px;
  padding: 6px;
}
.card-img-top{
  height: 140px;
  width: 90px;
}
a{
  display: inline-block;
  margin-left: 40px;
  margin: 5px;
}

