
<div>
  <h2>Dta from service demo-service</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title of Movie</th>
        <th>Name of director</th>
        <th>Casts</th>
        <th>Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of movieSamples">
        <td>{{item.title}}</td>
        <td>{{item.director}}</td>
        <td>{{item.cast}}</td>
        <td>{{item.releaseDate}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>Data from service demo-service for api data</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Address</th>
        <th>Company</th>
        <th>website</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of apiDetails ">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td>{{"City :"+item.address.city}} <br>
          {{" geo :"+"lat-"+item.address.geo.lat+" , "+"lng-"+item.address.geo.lng}} <br>
          {{" street : "+ item.address.street}} <br>
          {{" suite :"+item.address.suite}} <br>
          {{" zipcode :"+item.address.zipcode}}
        </td>


        <td>{{"bs : "+item.company.bs}} <br>
          {{" catchPhrase : "+item.company.catchPhrase}} <br>
          {{" name : "+item.company.name}}</td>


        <td>{{item.website}}</td>
      </tr>
    </tbody>
  </table>
</div>

