<h4 style="margin-left:300px;">Subject/Behavior Subject Demo</h4>

<div style="display: flex;float: left;border: 1px solid black;width: 500px;padding: 10px;" class="col-md-10">
  <div style="margin-left: 10px;">
    <p>subject-demo1 works!</p><br>
Employee id : <input type="number" #empId name="epId" ><br><br>
Employee Name : <input type="text" #empName name="epName" ><br><br>
Employee Company : <input type="text" #empCmp name="epCmp" ><br><br>
Employee Department : <input type="text" #empDept name="epDept" ><br><br>
Employee Position : <input type="text" #empRole name="epRole" ><br><br>

<div>
  <button type="button" (click)="onUpdate(empId.value,empName.value,empCmp.value,empDept.value,empRole.value)">Pass Data</button>
 </div>


 <table class="table table-bordered mt-3">
  <thead>
      <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Employee Company</th>
          <th>Employee Department</th>
          <th>Employee Role</th>

      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of employeeArray">
          <td>{{item.epId}}</td>
          <td>{{item.epName}}</td>
          <td>{{item.empCmp}}</td>
          <td>{{item.epDept}}</td>
          <td>{{item.epRole}}</td>
        </tr>
  </tbody>
</table>
<br>

 <!-- <p *ngFor="let item of employeeArray">
  Employee Id = {{item.epId}} <br>
  Employee Name = {{item.epName}} <br>
  Employee Company = {{item.epCmp}} <br>
  Employee Department = {{item.epDept}} <br>
  Employee Position = {{item.epRole}}</p> -->
  <!-- <div>
    <button type="button" (click)="onUpdate()">Update Data from component-1</button>
   </div> -->

  </div>

<div style="float: left;border: 1px solid black; margin-left: 20px;width: 550px; padding: 8px;">
  <app-subject-demo2></app-subject-demo2>
</div>
</div>
