<!-- <div><app-header></app-header></div>
<br /><br /><br /> -->

<!-- forms -->
<!-- <app-simple-form></app-simple-form> -->

<!-- student registration form assignment -->
<app-student-registration-form></app-student-registration-form>

<!-- add or remove content dynamically on button click -->
<!-- <app-add-remove-content-on-button></app-add-remove-content-on-button> -->


<!--for toggle button with secret paragraph  -->
<!-- <app-toggle-button></app-toggle-button> -->

<!-- for lifecycle hooks  -->
<!-- <app-parent-hooks-life-cycle></app-parent-hooks-life-cycle> -->
<!-- <app-hooks-cycle></app-hooks-cycle> -->


<!-- @Output decorator-->
  <!-- <app-decorator-ass (vegetables)="getDataFromChild($event)"></app-decorator-ass>
-->
<!-- <div class="mainDiv"> -->


<!-- <app-output-decorator (newCourses)="getDataFromObject($event)" (vegetables)="getDataFromChild($event)"></app-output-decorator> -->
<!-- <ul *ngFor="let item of arrayOfVeg">
  <li>{{item}}</li>
</ul>
<br><br> -->
    <!-- <table class="table table-bordered">
<thead>
  <tr>
    <th>Course Id</th>
    <th>Course Name</th>
    <th>Course Content</th>
    <th>Job Title</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let courseItems of newArrayOfCourses">
    <td>{{courseItems.courseId}}</td>
    <td>{{courseItems.courseName}}</td>
    <td>{{courseItems.courseContent}}</td>
    <td>{{courseItems.youCanGetJobAs}}</td>

  </tr>
</tbody>
    </table>

  </div> -->

<!-- <app-decorator-ass [employeeInfo]="empObject1"></app-decorator-ass> -->

<!-- <app-decorator-ass [employeeInfo]="employeeInfo"></app-decorator-ass> -->

<!-- <app-comparepass></app-comparepass> -->

<!-- <app-directivedemo></app-directivedemo><br><br> -->

<!-- <app-ngswitch></app-ngswitch> -->

<!-- <app-server></app-server>2nd assignment on data binding -->

<!--The content below is only a placeholder and can be replaced.-->

  <!-- <app-successalert></app-successalert>
  <app-warningalert></app-warningalert> -->
<!-- <app-server></app-server> -->
<!-- <div>
<h2>Angular Previous Versions</h2>
<p>
  <span>AngularJS (also known as Angular 1.0):</span>
   AngularJS is a JavaScript based
  open-source frontend web framework developed and maintained by Google.
  AngularJS can be added to an HTML page with a script tag. Because AngularJS
  was the first version of the Angular, so it is also known as Angular 1.
  AngularJS was first released on October 20, 2010 by a team of Google.
</p>
<p>
  <span>Angular 2:</span>
   Angular 2 was a complete rewrite of AngularJS. It was first
  released in May 2016 and the final version was released on September 14, 2016.
</p>
<p>
  <span>Angular 4:</span>
   Angular 4 was the updated version of Angular 2. The Google team
  skipped the Angular 3 to avoid the confusion due to the misalignment of the
  router package's version which was already distributed as v3.3.0.
</p>
<p>
  <span>Angular 5:</span>
   Angular 5 was the improved version of the previous one. It was
  released on November 1, 2017 and improved the support for progressive web apps
</p>
<p>
  <span>Angular 6: </span>
  Angular 6 Angular 6 was released on May 4, 2018. It was a major
  released focused on ng update, ng add, Angular Elements, Angular Material +
  CDK Components, Angular Material Starter Components, CLI Workspaces, Library
  Support, Tree Shakable Providers, Animations Performance Improvements, and
  RxJS v6.
</p>
<p>
  <span>Angular 7:</span> Angular 7 was released on October 18, 2018. It was
  focused on Application Performance, Angular Material & CDK, Virtual Scrolling,
  Improved Accessibility etc.
</p>
<p>
  <span>Angular 8:</span>
   Angular 8 is the latest version running nowadays. Angular 8 is
  released on May 28, 2019. It is mainly focused on Differential loading,
  Dynamic imports for lazy routes, web workers and Angular Ivy as an opt-in
  support. It also supports TypeScript 3.4.
</p>
</div>
 -->

<!-- <h1>
    Welcome to {{ title }}!
  </h1>
  <app-server></app-server>

  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<router-outlet></router-outlet>
