

<div>
<p style="text-align: center;font-size: larger;"><strong ><em >Shop By Category</em></strong></p>

<div class="card" >
  <img class="card-img-top" src="../../assets/images/clotheing.webp" alt="Card image cap" height="120px">
  <div class="card-body">
    <a
    routerLink="clothing-comp"
    routerLinkActive="active"
    class="btn btn-primary">Buy Clothes</a>
  </div>
</div>

<div class="card" >
  <img class="card-img-top" src="../../assets/images/flower-images-6.jpg" alt="Card image cap" height="120px">
  <div class="card-body">
    <a routerLink="flower-comp"
    routerLinkActive="active"
    class="btn btn-primary"
    >Buy decorators items</a>
  </div>
</div>
<div class="card" >
  <img class="card-img-top" src="../../assets/images/mob-imgs.jpg" alt="Card image cap" height="120px">
  <div class="card-body">
  <a routerLink="mobile-comp" routerLinkActive="active" class="btn btn-primary">Buy Mobiles</a>
  </div>
</div>

<div class="card" >
  <img class="card-img-top" src="../../assets/images/toy-imagess.jpg" alt="Card image cap" height="120px">
  <div class="card-body">
    <a routerLink="toys-comp" routerLinkActive="active" class="btn btn-primary">Buy for toys</a>
  </div>
</div>
</div>
<hr>
<router-outlet></router-outlet>
