<div>

  <div class="card" >
    <img class="card-img-top" src="../../assets/images/mob-imgs.jpg" alt="Card image cap" height="120px">
    <div class="card-body">
    <a routerLink="movie-home" routerLinkActive="active" class="btn btn-primary">Mobiles</a>
    </div>
  </div>
  <div class="card" >
    <img class="card-img-top" src="../../assets/images/game.jpg" alt="Card image cap" height="120px">
    <div class="card-body">
    <a routerLink="movie-comp" routerLinkActive="active" class="btn btn-primary">Games</a>
    </div>
  </div>

  <hr>
<router-outlet></router-outlet>
