<div>
  <p style="text-align: center;font-size: larger;"><strong ><em >Flowers for decoration</em></strong></p>

<div class="card" style="width: 18rem;">
  <img
  class="card-img-top"
  src="../../../assets/images/flower-image-1.jpg"
  alt="Pooja mix flower"
  (click)="onClick($event)"
  (mousedown)="onMouseDown($event)"
  (mousemove)="mouseMoveHandler($event)"
  #img
  >
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Pooja Flowers</h6>
    <p class="card-text ">Rs. &nbsp;200&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">8% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/flower-image-2.webp" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Red Roses</h6>
    <p class="card-text">Rs.&nbsp;500&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">7% &nbsp;Off</span></p>
    <p>COD & online payment available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/flower-image-4.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">pinkies white dessy</h6>
    <p class="card-text">Rs.&nbsp;1400&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">6% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/flower-images-5.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Chaffa</h6>
    <p class="card-text">Rs.&nbsp;130&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">2% &nbsp;Off</span></p>
    <p class="text-text">COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/flower-images-6.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Tullips</h6>
    <p class="card-text">Rs.&nbsp;1200&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">5% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/flowers-image-3.webp" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Fresh flower</h6>
    <p class="card-text">Rs.&nbsp;700&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">7% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/flower-images-5.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Chaffa</h6>
    <p class="card-text">Rs.&nbsp;300&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">3% &nbsp;Off</span></p>
    <p>COD available</p>
    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div><div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../../assets/images/flower-image-1.jpg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">pooja flowers</h6>
    <p class="card-text">Rs.&nbsp;700&nbsp;INR <span style="border: 1px solid black;margin-left: 5px;padding: 2px;">2% &nbsp;Off</span></p>
    <p class="text-danger">COD available</p>

    <a routerLink="'/'" class="btn btn-primary">Buy Now</a>
    <a routerLink="'/'" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
</div>
