/* You can add global styles to this file, and also import other style files */
body{
  background-image: url('https://c4.wallpaperflare.com/wallpaper/442/976/931/smooth-heart-background-white-hearts-illustration-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

