<!-- <ol>
 <li>Get one checkbox and Add and remove div content based on checkbox selected value/li>
 <li>Create class for Courses and display top 3 courses using *ngFor</li>
 <li>Take own example and implement ngSwitchCase</li>
</ol> -->

<div class="card">
  <div class="card-header" >Add and remove content on checkbox selected/unselected</div>
  <div class="card-body">
    <input type="checkbox" [(ngModel)]="isChecked" />select checkbox for Show div content / uncheck checkbox for hide div content
    <div id="show" *ngIf="isChecked" >
      Hello i am div content to see my behavior of hide and show please click on checkbox
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">*ngFor example:</div>
  <div class="card-body">
    <table class="table">
<thead>
  <tr>
    <th>Course Id</th>
    <th>Course Name</th>
    <th>Course Content</th>
    <th>Job Title</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let courseItems of courses">
    <td>{{courseItems.courseId}}</td>
    <td>{{courseItems.courseName}}</td>
    <td>{{courseItems.courseContent}}</td>
    <td>{{courseItems.youCanGetJobAs}}</td>

  </tr>
</tbody>
    </table>
</div>
</div>

<div class="card">
  <div class="card-header">ngSwitch example</div>
  <div class="card-body">
    <select [(ngModel)]="selectedCourse" (change)="onSelectedCourse($event)">
      <option *ngFor="let courseName of courseNames;" [value]="courseName.courseName">{{courseName.courseName}}</option>
    </select>

    <div [ngSwitch]="selectedCourse">
      <br>
      <p *ngSwitchDefault>Please select course</p>
      <p *ngSwitchCase="'Angular Developer'">Congrats You selected Angular Developer</p>
      <p *ngSwitchCase="'Software testing'">Congrats You selected Software testing</p>
      <p *ngSwitchCase="'Java Developer'">Congrats You selected Java Developer</p>
      <p *ngSwitchCase="'React Developer'">Congrats You selected React Developer</p>

    </div>
</div>
